* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f5f5f5;
}

/* HEADER */
.page-header {
  background: linear-gradient(135deg, #111, #333);
  color: white;
  text-align: center;
  padding: 60px 20px;
}

.page-header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.page-header p {
  font-size: 16px;
  opacity: 0.9;
  margin-bottom: 20px;
}

.back-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid orange;
  padding: 10px 20px;
  border-radius: 30px;
  transition: 0.3s;
}

.back-btn:hover {
  background: orange;
  color: black;
}

/* GALLERY */
.tile-gallery {
  padding: 60px 8%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

/* TILE CARD */
.tile-card {
  background: white;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: 0.4s ease;
}

.tile-card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  transition: 0.5s ease;
}

/* HOVER EFFECT */
.tile-card:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .page-header h1 {
    font-size: 28px;
  }

  .tile-card img {
    height: 550px;
  }
}
/* BACK TO TOP BUTTON  */
#backToTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  background: linear-gradient(135deg, #ff7b00, #ff3c00);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transform: translateY(20px);
  transition: all 0.4s ease;
  z-index: 999;
}

/* Image inside */
#backToTop img {
  width: 130%;
  height: 130%;
  object-fit: fill;
  border-radius: 50px;
}

/* Show Button */
#backToTop.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Mobile Adjust */
@media (max-width: 768px) {
  #backToTop {
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
  }
}
