* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
}

/* HEADER */
header {
  position: sticky;
  top: 0;
  background: #111;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 14px;
}

nav a:hover {
  color: orange;
}

.menu-toggle {
  display: none;
  font-size: 22px;
  cursor: pointer;
}

/* HERO */
.hero {
  height: 90vh;
  background: url("Banner_2.png");
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero {
  font-size: 40px;
}

.hero h1,
p {
  font-size: 40px;
  color: brown;
}

.hero p {
  font-size: 40px;
  color: purple;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  background: orange;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

/* SECTIONS */
section {
  padding: 60px 20px;
  text-align: center;
}

.light {
  background: #f5f5f5;
}

/* GRID */
.grid {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

/* CARD */
.card {
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  background: white;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h3 {
  margin: 10px 0;
}

.card button {
  margin-bottom: 15px;
  background: black;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}

/* SERVICES */
.service {
  cursor: pointer;
  background: orange;
  padding: 20px;
  border-radius: 8px;
  color: white;
  width: 200px;
  font-weight: bold;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* CALCULATOR */
.calc-box input {
  padding: 10px;
  margin: 10px;
  width: 150px;
}

.calc-box button {
  padding: 10px 15px;
  background: black;
  color: white;
  border: none;
}

#result {
  margin-top: 15px;
  font-weight: bold;
}

/* GALLERY */
.gallery img {
  width: 250px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

/* WHATSAPP */
.whatsapp-float {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: green;
  color: white;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
}

/* FOOTER */
footer {
  background: #111;
  color: white;
  padding: 15px;
}

/* MOBILE */
@media (max-width: 768px) {
  nav {
    display: none;
    flex-direction: column;
    background: black;
    position: absolute;
    right: 0;
    top: 60px;
    width: 200px;
    padding: 10px;
  }

  nav a {
    margin: 10px 0;
  }

  .menu-toggle {
    display: block;
  }
}
