* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1.6;
}

/* HEADER */
header {
  position: sticky;
  top: 0;
  background: #111;
  color: white;
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 28px;
  transition: 0.4s;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: orange;
  transition: 0.4s;
}

.nav-link:hover {
  color: orange;
}
.nav-link:hover::after {
  width: 100%;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* HERO */
.hero {
  height: 90vh;
  background: url("https://images.unsplash.com/photo-1600607687939-ce8a6c25118c")
    center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 48px;
}
.hero p {
  margin-top: 10px;
  font-size: 18px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  background: orange;
  padding: 12px 25px;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  transition: 0.3s;
}

.btn:hover {
  background: black;
  transform: translateY(-3px);
}

/* SECTION */
section {
  padding: 70px 20px;
  text-align: center;
}
.light {
  background: #f5f5f5;
}

/* GRID */
.grid {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

/* CARD */
.card {
  width: 250px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

/* GALLERY */
.gallery img {
  width: 250px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card button {
  margin: 15px 0;
  background: black;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  background: orange;
  transform: scale(1.05);
}

/* SERVICES */
.service {
  background: orange;
  color: black;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  font-weight: bold;

  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center; /* Vertical center */
  text-align: center;
}

/* CONTACT */
.contact-container {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.contact-form,
.contact-info {
  flex: 1;
  min-width: 300px;
  font-weight: bold;
}

.contact-form {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  transition: 0.3s;
}

.contact-form button:hover {
  background: orange;
}

.contact-info p {
  margin-bottom: 20px;
  font-size: 16px;
}

.contact-info i {
  color: orange;
  margin-right: 8px;
}

.map-full iframe {
  width: 100%;
  height: 350px;
  border: 0;
  margin-top: 50px;
  border-radius: 12px;
}

/* FOOTER */
footer {
  background: #111;
  color: white;
  padding: 15px;
  text-align: center;
}

/* MOBILE */
@media (max-width: 768px) {
  nav {
    position: absolute;
    top: 75px;
    right: -100%;
    flex-direction: column;
    background: #111;
    width: 240px;
    padding: 25px;
    border-radius: 12px;
    transition: 0.4s;
  }

  nav.active {
    right: 20px;
  }

  .menu-toggle {
    display: block;
  }
}
